In [9]:
#importing libraries
import pandas as pd
import mysql.connector
import numpy as np

In [10]:
# csv to dataframe
df_Kerala_buses=pd.read_csv("df_Kerala_buses.csv")
df_Aandhra_buses=pd.read_csv("df_Aandhra_buses.csv")
df_Telungana_buses=pd.read_csv("df_Telungana_buses.csv")
df_Goa_buses=pd.read_csv("df_Goa_buses.csv")
df_Rajastan_buses=pd.read_csv("df_Rajastan_buses.csv")
df_South_Bengal_buses=pd.read_csv("df_South_Bengal_buses.csv")
df_Haryana_buses=pd.read_csv("df_Haryana_buses.csv")
df_Assam_buses=pd.read_csv("df_Assam_buses.csv")
df_Uttra_pradesh_buses=pd.read_csv("df_Uttra_pradesh_buses.csv")
df_West_bengal_buses=pd.read_csv("df_West_bengal_buses.csv")

Final_df=pd.concat([df_Kerala_buses,df_Aandhra_buses,df_Telungana_buses,df_Goa_buses,df_Rajastan_buses,df_South_Bengal_buses,
                    df_Haryana_buses,df_Assam_buses,df_Uttra_pradesh_buses,df_West_bengal_buses],ignore_index=True)
Final_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,MMK Travels,VE A/C Seater / Sleeper (2+1),21:30,06:00,08h 30m,INR 700,5 Seats available,4.5\n542,https://www.redbus.in/bus-tickets/kozhikode-to...,Kozhikode to Bangalore
1,P K Travels,A/C Sleeper (2+1),20:00,06:00,10h 00m,INR 950,15 Seats available,4.3\n211,https://www.redbus.in/bus-tickets/kozhikode-to...,Kozhikode to Bangalore
2,SAAM BUS,VE A/C Sleeper (2+1),20:30,06:15,09h 45m,INR 800,5 Seats available,4.4\n101,https://www.redbus.in/bus-tickets/kozhikode-to...,Kozhikode to Bangalore
3,AdSuraj Holidays,VE A/C Sleeper (2+1),22:00,07:15,09h 15m,INR 950,6 Seats available,4.1\n258,https://www.redbus.in/bus-tickets/kozhikode-to...,Kozhikode to Bangalore
4,Silver Line Travels,NON A/C Semi Sleeper (2+2),20:30,05:45,09h 15m,INR 599,18 Seats available,4.2\n280,https://www.redbus.in/bus-tickets/kozhikode-to...,Kozhikode to Bangalore
...,...,...,...,...,...,...,...,...,...,...
3276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.redbus.in/bus-tickets/lucknow-to-v...,Lucknow to Varanasi
3277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.redbus.in/bus-tickets/lucknow-to-v...,Lucknow to Varanasi
3278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.redbus.in/bus-tickets/lucknow-to-v...,Lucknow to Varanasi
3279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.redbus.in/bus-tickets/lucknow-to-v...,Lucknow to Varanasi
3280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.redbus.in/bus-tickets/lucknow-to-v...,Lucknow to Varanasi

# **Data Cleaning**

In [11]:
# data about the data
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3281 entries, 0 to 3280
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         2951 non-null   object
 1   Bus_type         2938 non-null   object
 2   Start_time       2951 non-null   object
 3   End_time         2951 non-null   object
 4   Total_duration   2951 non-null   object
 5   Price            2951 non-null   object
 6   Seats_Available  2950 non-null   object
 7   Ratings          2951 non-null   object
 8   Route_link       3281 non-null   object
 9   Route_name       3281 non-null   object
dtypes: object(10)
memory usage: 256.5+ KB

In [12]:
#convert prices to numeric
Final_df["Price"]=Final_df["Price"].str.replace("INR","")
Final_df["Price"]=Final_df["Price"].astype(float)
Final_df["Price"].fillna(0)

0       700.0
1       950.0
2       800.0
3       950.0
4       599.0
        ...
3276      0.0
3277      0.0
3278      0.0
3279      0.0
3280      0.0
Name: Price, Length: 3281, dtype: float64

In [13]:
#convert Ratings to numeric
Final_df["Ratings"]=Final_df["Ratings"].str.replace("New","")
Final_df["Ratings"]=Final_df["Ratings"].str.strip()
Final_df["Ratings"]=Final_df["Ratings"].str.split().str[0]
Final_df["Ratings"] = pd.to_numeric(Final_df["Ratings"], errors='coerce')
Final_df["Ratings"].fillna(0,inplace=True)

C:\Users\Surenthiran\AppData\Local\Temp\ipykernel_31236\709375803.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Final_df["Ratings"].fillna(0,inplace=True)

In [14]:
# info after the data type change
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3281 entries, 0 to 3280
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         2951 non-null   object
 1   Bus_type         2938 non-null   object
 2   Start_time       2951 non-null   object
 3   End_time         2951 non-null   object
 4   Total_duration   2951 non-null   object
 5   Price            2951 non-null   float64
 6   Seats_Available  2950 non-null   object
 7   Ratings          3281 non-null   float64
 8   Route_link       3281 non-null   object
 9   Route_name       3281 non-null   object
dtypes: float64(2), object(8)
memory usage: 256.5+ KB

In [15]:
Final_df = Final_df[Final_df["Price"] <= 7000]

In [16]:
# replacing the nan value
Final_df = Final_df.replace({np.nan: None})

In [17]:
# change dataframe to csv
path=r"E:/Redbus_Project/Final_bus_details.csv"
Final_df.to_csv(path,index=False)

# **Create MySQL Data Base**

In [1]:
! pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\surenthiran\appdata\local\programs\python\python312\lib\site-packages (9.0.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import mysql.connector
mydb = mysql.connector.connect(
 host="localhost",
 user="root",
 password="",


)


print(mydb)
mycursor = mydb.cursor(buffered=True)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000028B1BB32240>

In [4]:
import mysql.connector

connection = mysql.connector.connect(
  host = "gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
  port = 4000,
  user = "27BWX9vSyueH94y.root",
  password = "q1GlXoLTU7A9BpHQ",
 
)

In [6]:
mycursor.execute("create database red_bus")

In [7]:
# Table Creation
# mycursor.execute("CREATE TABLE Bus_Details(name VARCHAR(50),id VARCHAR(10),age INT(3))") 
mycursor.execute("CREATE TABLE red_bus.bus_details(\
                  ID INT AUTO_INCREMENT PRIMARY KEY, \
                  Bus_name VARCHAR(255) NOT NULL, \
                  Bus_type VARCHAR(255) NOT NULL, \
                  Start_time VARCHAR(255) NOT NULL, \
                  End_time VARCHAR(255) NOT NULL, \
                  Total_duration VARCHAR(255) NOT NULL, \
                  Price FLOAT NULL, \
                  Seats_Available VARCHAR(255) NOT NULL, \
                  Ratings Float NULL, \
                  Route_link VARCHAR(255) NULL, \
                  Route_name VARCHAR(255) NULL \
                  )")
print("Table Created successfully")

Table Created successfully

In [18]:
# SQL query to insert data into bus_details table
insert_query = '''INSERT INTO red_bus.bus_details(
                    Bus_name,
                    Bus_type,
                    Start_time,
                    End_time,
                    Total_duration,
                    Price,
                    Seats_Available,
                    Ratings,
                    Route_link,
                    Route_name)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
data = Final_df.values.tolist()

mycursor.executemany(insert_query, data)

mydb.commit()

print("Values inserted successfully")

Values inserted successfully